#!/bin/bash
. rt/bin/activate
export PROJ_HOME="$(pwd)"
export PATH="$PROJ_HOME/bin:$PATH"
export PYTHONPATH="$PROJ_HOME/src:$PYTHONPATH"
export MYPYPATH="$PYTHONPATH"
export PYTORCH_DATA_HOME="$PROJ_HOME/data"
